<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- LINKS -->
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>

	<header>
	{% for presentation in presentation %}
	<div class="logoTitre">
		<a class="navbar-brand" href="{{ path('app_home') }}"><img class="imgLogo"
				src="{{ asset('uploads/photos/' ~ presentation.logoPresentation) }}" alt="img"></a>
		<div>{{presentation.titrePresentation}}</div>
	</div>

	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					{% if (is_granted('ROLE_ADMIN')) %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page"
							href="{{ path('app_home_admin') }}">Administration</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_contact') }}">Contact</a>
					</li>
					{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se
							déconnecter</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% if app.user %}
		<div class="nameUser">Bienvenue {{app.user.nameUser}}</div>
		{% endif %}

	<div class="pageAccueil">

	<div class="blocDroit">
		<div class="slideLogo">
			<div class="containerSlider">
				<div id="slider">
					<ul id="slideWrap">
						<li><img src="{{ asset('uploads/photos/' ~ presentation.imgPresentation) }}" alt="img"></li>
						<li><img src="{{ asset('uploads/photos/' ~ presentation.imgPresentation1) }}" alt="img"></li>
						<li><img src="{{ asset('uploads/photos/' ~ presentation.imgPresentation2) }}" alt="img"></li>
						<li><img src="{{ asset('uploads/photos/' ~ presentation.imgPresentation4) }}" alt="img"></li>
					</ul>
					<a id="prev" href="#">&#8810;</a>
					<a id="next" href="#">&#8811;</a>
				</div>
			</div>
			<div class="imgLogoSlide">
				<img src="{{ asset('uploads/photos/montpellier.jpg') }}" alt="img">
			</div>

		</div>
		{% endfor %}
		<div class="containerContenu">
			{% block body %}{% endblock %}
		</div>
	</div>



		<div class="containerVide"></div>
		<div class="containerArticles">
			{% for category in categories %}
			<div class="nameCategories">{{category.nameCategories}}</div>

			{% for article in articles %}
			{% if article.categories.id is same as category.id %}
			<div class="nameArticles">{{ article.nameArticles }}</div>
			<a href="{{ path('app_articles_show', {'id': article.id}) }}">
				<div class="contenuArticles">{{ article.resumeArticles }}</div>
			</a>

			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
<!-- JavaScript Bundle with Popper -->
			<script src="{{asset('js/app.js')}}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			<script src="//code.jquery.com/jquery.js"></script>
	</body>
	</html>
